body {background: url(https://images.theconversation.com/files/207820/original/file-20180226-140213-yox11e.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip);}

h1 {color: white;
     margin-left: 80px;}
p {color: white;}
li {color: white;}
h3 {color: white;}
img {margin-right: 80px;
     margin-left: 150px;}
div {background: #737373;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-right: 300px;
     margin-left: 80px;
     border-color: white;
     border-width: 6px;
     border-style: double;}

